@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.show-on-scroll {
  background-color: #ffd300 !important;
}

.hero-dot {
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  width: 21px;
  height: 21px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-dot.active {
  background: #fff;
}

.hero-dot:hover {
  background: rgba(255, 255, 255, 0.5);
}
